
{% extends "@User/Page_Apprenant.html.twig" %}

{% block titre %} {{ mat.matiere}}{% endblock %}
{% block body %}
    <style>
        .mystar{
            font-size: 25px !important;
            color: #f9d933 !important;
        }
    </style>

    <!-- steps -->
    <div class='grid_row clearfix' style='padding-top: 50px;padding-bottom: 50px;'>
        <div class='grid_col grid_col_6'>
            <div class='ce clearfix'>
                <div>
                    <ul class="checkmarks_style">
                        <li>Nbr d'heure : {{ mat.nbheure }}</li>
                        <li> Categorie : {{ mat.Categorie.nomCat }} </li>
                        <li>
                            <div style="display: flex;">

                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                &nbsp; &nbsp;&nbsp;&nbsp;
                                <button id="btnVote" class="cws_button">Vote</button>

                            </div>



                        </li>
    {% if insc == null %}
        <p class="mb-0"><a href="{{ path('PaticiperCour',{'id':mat.id}) }}" class="cws_button">Inscrire <span class="ion-ios-arrow-round-forward"></span></a></p>
    {% else %}

        <p class="mb-0"><a href="{{ path('DésinscriptionCour',{'id':mat.id}) }}" class="cws_button">Désinscrire <span class="ion-ios-arrow-round-forward"></span></a></p>
{% endif %}

        </ul>
                </div>
            </div>
        </div>
        <div class='grid_col grid_col_6'>
            <div class='ce clearfix'>
                <div>
                    <p><img class="aligncenter size-full image-type noborder" src="{{ asset('uploads/')}}{{ mat.nomfile }}" alt="nanny" width="1100" height="550" /></p>
                </div>
            </div>
        </div>
    </div>

    {% if insc == null %}
        {% else %}

            <div class='grid_row clearfix'>
            <!-- sevice item -->
            {% for e in livre  %}
                <div class='grid_col grid_col_4'>

                    <div class='ce clearfix'>

                        <div>
                            <video controls src="{{ asset('uploads/' ~ e.video) }}" height ="200" width="250">{{ e.NomCour }}</video>
                            <p>  Description :{{ e.description }}</p>
                        </div>

                    </div>

                </div>
            {% endfor %}

    {% endif %}





{% endblock %}
                {% block script %}
                    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
                    <script src="https://use.fontawesome.com/9fb4b83f9f.js"></script>
                <script>
                    // Starrr plugin (https://github.com/dobtco/starrr)
                    var __slice = [].slice;
                    $("#btnVote").click(function () {
                        var number = $(".fa-star").length;
                        alert("merci pour votre vote : "+number)
                        console.log({number});
                        var obj = {
                            "rate" :number,
                            "monlivre" : {{ mat.id }}
                        }
                        $.ajax({
                            url: '{{ path('rate_') }}',
                            type: 'post',
                            data: JSON.stringify(obj),
                            success: function (result) {
                                console.log(result);
                                fillStars(result-1);
                            }
                        });
                        console.log(number);
                    })

                    $(document).ready(function () {
                        $(".mystar").each(function (i,e) {
                            $(this).click(function () {

                                fillStars(i);
                            })
                        })
                        fillStars(Math.round({{ mat.rate-1 }}));
                    });

                    function fillStars(index) {
                        $(".mystar").each(function (i,e) {
                            if(i<=index){
                                $(this).removeClass();
                                $(this).addClass("fa fa-star mystar");
                            }else{
                                $(this).removeClass();
                                $(this).addClass("fa fa-star-o mystar");
                            }
                        })
                    }
                </script>

                {% endblock %}
