

{% extends "@User/Page_Apprenant.html.twig" %}

{% block titre %} Our Matiere  <br>
          Vous avez Inscrit dans  {{ c  }} Cours
  {% endblock %}
{% block body %}
    <style>
        .mystar{
            font-size: 25px !important;
            color: #f9d933 !important;
        }
    </style>


    <div class='grid_row clearfix'>
        <!-- sevice item -->
        {% for e in mat  %}
            <div class='grid_col grid_col_4'>

                <div class='ce clearfix'>

                    <div>
                        <p style="text-align: center;"><img class="aligncenter size-full image-type noborder" src="{{ asset('uploads/')}}{{ e.nomfile }}" alt="babysitting" width="150" height="150" /></p>
                        <h2 class="ce_title heading" style="text-align: center;">Nom :{{ e.matiere }} </h2>
                        <p style="text-align: center;">  Nombre D'heure :{{ e.nbheure }}</p>
                        <p class="" style="text-align: center;">
                            {% if e.rate < 1 %}
                                <i class="fa fa-star-o mystar" aria-hidden="true" ></i>
                                <i class="fa fa-star-o mystar" aria-hidden="true"></i>
                                <i class="fa fa-star-o mystar " aria-hidden="true"></i>
                                <i class="fa fa-star-o mystar" aria-hidden="true"></i>
                                <i class="fa fa-star-o mystar" aria-hidden="true"></i>
                            {% elseif e.rate >= 1 %}
                                {% for i in 1..e.rate | round %}
                                    <i class="fa fa-star mystar" aria-hidden="true"></i>
                                {% endfor %}
                            {% else %}
                                <i class="fa fa-star-o mystar" aria-hidden="true" ></i>
                                <i class="fa fa-star-o mystar" aria-hidden="true"></i>
                                <i class="fa fa-star-o mystar " aria-hidden="true"></i>
                                <i class="fa fa-star-o mystar" aria-hidden="true"></i>
                                <i class="fa fa-star-o mystar" aria-hidden="true"></i>
                            {% endif  %}
                        </p>
                        <p style="text-align: center;"><a href='{{ path('Front_AfficheMonCourDetails',{'id':e.id}) }}' class='cws_button mini'>Details</a>

                    </div>


                </div>

            </div>
        {% endfor %}
    </div>



{% endblock %}