
{% extends "@User/Page_Employer.html.twig" %}
{% block body %}
    {{ form_start(form, {'attr': {'id': 'form'}}) }}

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter Evenement</h4>
                <p class="card-description">
                </p>
                <div class="form-group">
                    <label class="exampleInputName1">Titre</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="exampleInputName1">Discroption</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.discription, { 'attr': {'class': 'form-control'} }) }}                    </div>
                </div>
                <div class="form-group">
                    <label class="exampleInputName1">Date Début</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.dated, { 'attr': {'class': 'form-control'} }) }}                    </div>
                </div>
                <div class="form-group">
                    <label class="exampleInputName1">Date de Fin</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.dateF, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="exampleInputName1">lieu</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.lieu, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="exampleInputName1">Nbre de place</label>
                    <div class="col-lg-10">
                        {{ form_widget(form.nbrplace, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="exampleInputName1">Image</label>
                    <div class="col-lg-10">
                        {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            <input type="submit" value="Enregistrer" class="btn btn-success"/>
            {{ form_end(form) }}
</form>
        </div>
    </div>
    <!-- col-lg-12-->
</div>

    <script>
    const form= document.getElementById('form');
    const errorElement= document.getElementById('errorElement');
    var now = new Date();
    form.addEventListener('submit',(e)=> {
    let message = [];
    const year= document.getElementById('evenementbundle_evenements_dated_year').value;
    const month= document.getElementById('evenementbundle_evenements_dated_month').value;
    const day= document.getElementById('evenementbundle_evenements_dated_day').value;

    const yearf= document.getElementById('evenementbundle_evenements_dateF_year').value;
    const monthf= document.getElementById('evenementbundle_evenements_dateF_month').value;
    const dayf= document.getElementById('evenementbundle_evenements_dateF_day').value;

    var datef = new Date(yearf,monthf-1,dayf);
    var date = new Date(year,month-1,day);
    console.log(date , ' ', now)
    if((date < now)|| (date > datef)){
    alert('verifier votre date')
    message.push('Vérifier Votre date')
    }

    if(message.length> 0){

    e.preventDefault();
    errorElement.innerText = message.join(', ')
    }

    })





        </script>

{% endblock %}