{% extends "@User/Page_Employer.html.twig" %}
{% block body %}

    <div class="col-lg-20 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste Classe</h4>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                Parent
                            </th>
                            <th>
                                Enfant
                            </th>

                            <th>
                                Activite
                            </th>
                            <th>
                                Date Reserver
                            </th>
                            <th>
                                Date De Reservation
                            </th>
                            <th>
                                Prix
                            </th>
                            <th>
                                Etat
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in res %}
                            {% if s.etat == "Accepter" %}

                                <tr>
                                    <td>
                                        {{ s.id }}
                                    </td>
                                    <td>
                                        {{ s.parent.username }}
                                    </td>
                                    <td>
                                        {{ s.nbenfants.username }}
                                    </td>
                                    <td>
                                        {{ s.activityType.type }}
                                    </td>
                                    <td>
                                        {{ s.dateRes|date }}
                                    </td>
                                    <td>
                                        {{ s.dateGar|date }}

                                    </td>
                                    <td>
                                        {{ s.prix }} TND

                                    </td>

                                    <td>
                                        {{ s.etat }}
                                    </td>
                                    <td>
                                        <a href="{{ path('RefesuerRes',{'id':s.id}) }}">Refuser</a><br>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if s.etat =="Refuser" %}
                                <tr>
                                    <td>
                                        {{ s.id }}
                                    </td>
                                    <td>
                                        {{ s.parent.username }}
                                    </td>
                                    <td>
                                        {{ s.nbenfants.username }}
                                    </td>
                                    <td>
                                        {{ s.activityType.type }}
                                    </td>
                                    <td>
                                        {{ s.dateRes|date }}
                                    </td>
                                    <td>
                                        {{ s.dateGar|date }}

                                    </td>
                                    <td>
                                        {{ s.prix }} TND

                                    </td>

                                    <td>
                                        {{ s.etat }}
                                    </td>
                                    <td>
                                        <a href="{{ path('AccepterRes',{'id':s.id}) }}">Accepter</a><br><br>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}