{% extends "@User/Page_Employer.html.twig" %}
{% block body %}

    <div class="col-lg-20 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste Eléve</h4>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>

                            <th>
                                Matiére
                            </th>
                            <th>
                                coefficient
                            </th>
                            <th>
                                Note Orale
                            </th>

                            <th>
                                Note Ecrit
                            </th>
                            <th>
                                Moyenne
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in note %}
                            <tr>
                                <td>
                                    {{ s.matiere.nomMatiere }}
                                </td>
                                <td>
                                    {{ s.matiere.coefficient }}
                                </td>
                                <td>
                                    {{ s.noteOrale }}
                                </td>
                                <td>
                                    {{ s.noteEcrit }}

                                </td>
                                <td>
                                    {{ s.moyenne }}

                                </td>

                                <td>
                                    <a href="{{ path('ModifierNote',{'id':s.id,'idc':s.apprenant.id}) }}">Modifier Note</a><br>
                                    <a href="{{ path('deleteNote',{'id':s.id}) }}">Supprimer Note</a><br>

                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}