{% extends "@User/Page_Admin.html.twig" %}
{% block body %}
    {{ form_start(form, {'method': 'post', 'action': path('Ajouter_Employer'), 'attr': {'class': 'register-form'}}) }}


    <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ajouter Employer</h4>
            <p class="card-description">
            </p>
            <div class="form-group">
                <label for="name">Nom :</label>
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}

            </div>
            <div class="form-group">
                <label for="father_name">Prenom :</label>
                {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
            </div>
        <div class="form-group">
            <label for="address">Email :</label>
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="father_name">Cin :</label>
            {{ form_widget(form.cin, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="address">Date De Naisssance :</label>
            {{ form_widget(form.dateNaissance, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="address">Tel :</label>
            {{ form_widget(form.tel, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="gender" class="radio-label">Sex :</label>
            {{ form_widget(form.sexe, { 'attr': {'class': 'form-control'} }) }}

        </div>
        <div class="form-group">
            <label for="gender" class="radio-label">Password :</label>
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}

        </div>
        <div class="form-group">
            <label for="gender" class="radio-label">confirmer :</label>
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}

        </div>


        <input type="submit" value="Envoyer" class=" btn btn-primary mr-2"/>

    </div>
    {{ form_end(form) }}


    </div>
    </div>


{% endblock %}